<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <Subtype>ContainerRegistry</Subtype>
    <DockerPublish>True</DockerPublish>
    <ResourceId>/subscriptions/20f5b34d-eb38-4acc-a561-054504eef06f/resourceGroups/bTexProject/providers/Microsoft.Web/sites/HermesTex</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>https://hermestex.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>hermestex.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HermesTex</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$HermesTex</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>