@page
@model Hermes.Website.Pages.BibParserModel
@{
    ViewData["Title"] = "BibParser";
}

<div class="text-center">
    <h2 class="display-4">Andreas Testing Page</h2>

</div>

<body>

    <div id="fileUpload">
        <form id="stuff" method="post" enctype="multipart/form-data" onsubmit="makeStuff()">
            <input id="uploadFile" type="file" name="uploadFile">
            <input id="mainName" name="mainName" type="text" placeholder="Name of the main file" />
            <input type="submit" asp-page-handler="Upload" class="btn" value="uploadFile">
        </form>
    </div>

</body>

<!--script type="module" src="~/js/graph.js" ></script>-->





