@page
@{
    ViewData["Title"] = "Graph Playground";
}

<style>
    .label {
        font-size: 13px;
        font-weight: bold;
        fill: black;
        /*text-anchor: middle;*/

        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .title {
        font-size: 15px;
        font-weight: bold;
        fill: black;
      
        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .backgroundColor {
        fill: white;
        
        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .link {
        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }



</style>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="~/js/createGraph.js" asp-append-version="true"></script>

<h1> Graph playground </h1>

<body>
    <div id="d3graph"></div>
</body>

<script>createLine();</script>