@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hermes</h1>
    <p>
        Hermes is a website with the purpose of giving you a better overview of your scientific latex documents.
        Just upload the zip file of the project, and specify the name of the main .tex file.
        Then click the send button and you are good to go!
    </p>

    <div class="blackbox">
        <a class="nav-link text-dark" asp-area="" asp-page="ViewPage">Get started!</a>
    </div>
</div>

<style>
    .blackbox {
        display:inline-block;
        border: solid black 3px;
    }

    .blackbox a:hover {
        background-color: #00ff90;
        color: black;
    }

</style>


