@page
@model Hermes.Website.Pages.PlaygroundModel
@{
    ViewData["Title"] = "Playground";
}
<style>

  .node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

button {
    position: absolute;
    width: 30px;
}
button#slow {
    margin-top: 28px;
}
button#play {
    margin-top: 54px;
}
button#reset {
    margin-top: 80px;
}

</style>


<div class="text-center">
    <h2 class="display-4">Welcome to the Playground</h2>

    <p>Please upload file below </p>
    <input type="file" id="fileInput" name="fileInput" />

</div>

<body>
    <div id="d3graph"></div>

</body>

<script src="https://d3js.org/d3.v3.min.js"></script>
<script src="~/js/graph.js" ></script>

