@page
@model Hermes.Website.Pages.PlaygroundModel2
@{
    ViewData["Title"] = "Playground";
}
<style>

    .node {
        fill: #ccc;
        stroke: black;
        stroke-width: 2px;
    }

    .labels{
        font-size: 13px;
        text-anchor: middle;
        font-weight: "bold";
        fill: black;
        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

    }

    .link {
        stroke: #777;
        stroke-width: 2px;
    }

    .node.section{
        fill: blue;
    }

    button {
        position: absolute;
        width: 30px;
    }
    button#slow {
        margin-top: 28px;
    }
    button#play {
        margin-top: 54px;
    }
    button#reset {
        margin-top: 80px;
    }

</style>



<div class="text-center">
    <h2 class="display-4">Welcome to the Playground</h2>

    <p>Please upload file below </p>
    <input type="file" id="fileInput" name="fileInput" />

</div>

<body>
    <div id="d3graph"></div>

    <div id="pdfviewer">
        <embed id= "outputPdf" src="api/pdf" width="500" height="375" type="application/pdf">

    </div>

    <div id="fileUpload">
        <form id="stuff" method="post" enctype="multipart/form-data" onsubmit="makeStuff()">
            <input id="uploadFile" type = "file" name="uploadFile">
            <input type="submit" asp-page-handler="Upload" class="btn" value="uploadFile">

        </form>
       
    </div>

    

</body>

<script src="https://d3js.org/d3.v3.min.js"></script>




