@page
@model Hermes.Website.Pages.ViewPageModel
@{
    ViewData["Title"] = "View Page";
}

<style>
    .label {
        font-size: 13px;
        font-weight: bold;
        fill: black;
        /*text-anchor: middle;*/
        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .title {
        font-size: 15px;
        font-weight: bold;
        fill: black;
        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .backgroundColor {
        fill: white;
        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .link {
        /* Not selcect text */
        pointer-events: none;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>


<body>

    <div class="topnav">
        <a href="./">Back</a>
        <button class="pref-button" onclick="openPreferences()" >Preferences</button>
        <a class="nav-link text-dark" asp-area="" asp-page="BibParser">AbeaTesting</a>
        <div class="file-info">
            <input id="uploadFile" name="uploadFile" type="file">
            <input id="mainName" name="mainName" type="text" placeholder="Name of the main file" value="">
            <input type="submit" asp-page-handler="Upload" class="btn" onclick="uploadFile()">
            
        </div>
    </div>

    <div>
        <div class="popup">
            <h3>Graph Preferences</h3>
            <button id="close-popup" onclick="closePreferences()"></button>
            <!--<form class="graph-preferences" style="float:left" onsubmit="acceptPreferences()">-->
            <div class="graph-preferences" style="float:left">
                <div>
                    <label class="pref-label">Show papers</label>
                    <input type="checkbox" id="show-papernodes" />
                </div>
                <div>
                    <label class="pref-label">Pick color of nodes</label>
                    <input type="color" id="node-color" value="#8C8C8C" />
                </div>
                <div>
                    <label class="pref-label">Pick color of link</label>
                    <input type="color" id="link-color" value="#000000"/>
                </div>
                <div>
                    <label class="pref-label">Pick color of sections</label>
                    <input type="color" id="section-color" value="#FF2D00"/>
                </div>
                <div>
                    <label class="pref-label">Pick color of theorems</label>
                    <input type="color" id="theorem-color" value="#BE00FF" />
                </div>
                <!--<input type="submit" id="accept-preference" value="Accept"/>-->
            </div>
            <!--</form>-->
            <button class="popup-button" id="accept-preference" onclick="acceptPreferences()">Apply changes</button>
            <button class="popup-button" id="restore-default" onclick="restoreDefault()">Restore to default</button>

        </div>

        <div class="split pdf">
            <div class="centered" id="pdfviewer">
                <embed id="outputPdf" src="" width="500" height="375" type="application/pdf">
                <h1>*PDF*</h1>
            </div>
        </div>

        <div class="split graph">

            <div>
                <h1 id="nodeName"> </h1>
                <p id="nodeType"></p>
                <p id="nodeCreatedAt"></p>

            </div>
            <div id="d3graph">
                <!--<h1>*GRAPH*</h1>-->
            </div>


        </div>

        <div class="vertical-line"></div>

    </div>


</body>

<style>

    .graph-preferences {
        margin-left: auto;
        margin-right: 0
    }

    .pref-label {
        display: inline-block;
    }

    .topnav {
        background-color: #f2f2f2;
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 7%;
        left: 0;
        box-shadow: 3px 3px 10px 1px #4b4b4b;
        z-index: 2
    }

        .topnav button,
        .topnav a {
            float: left;
            color: #1b1b1b;
            background-color: #f2f2f2;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            outline: none;
            border: none;
        }

    .topnav button:hover,
    .topnav a:hover {
        background-color: #00ff90;
        color: black;
    }

    .file-info {
        float: right;
        color: #1b1b1b;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .vertical-line {
        height: 93%;
        width: 6px;
        left: 50%;
        top: 7%;
        background-color: #f2f2f2;
        box-shadow: 3px 3px 10px 1px #4b4b4b;
        /*border-left: 4px solid white;*/
        position: fixed;
        margin-left: -2px;
        z-index: 2;
    }

    .split {
        height: 93%;
        width: 50%;
        top: 7%;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 20px;
    }

    /* Control the left side */
    .pdf {
        left: 0;
    }

    /* Control the right side */
    .graph {
        left: 50%;
    }

    /* If you want the content centered horizontally and vertically */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

        /* Style the image inside the centered container, if needed */
        .centered img {
            width: 150px;
            border-radius: 50%;
        }
    #d3graph{
        left:0;
    }

    .popup {
        visibility: hidden;
        background-color: #f2f2f2;
        width: 30%;
        padding: 40px 50px;
        position: absolute;
        left: 20%;
        top: 10%;
        transform: translate(50%,50%);
        border: 2px;
        border-color: #1b1b1b;
        border-style: solid;
        font-family: "Poppins",sans-serif;
        text-align: center;
        box-shadow: 3px 3px 10px 1px #4b4b4b;
        z-index: 3;
    }

        #close-popup {
            border-radius: 100%;
            padding: 0.5em;
            width: 30px;
            height: 30px;
            border: 2px solid #f2f2f2;
            color: #f2f2f2;
            position: absolute;
            right: 5%;
            top: 5%
        }

        #close-popup:hover {
            border: 2px solid #f2f2f2;
            background-color: #00ff90;
            color: #ffffff;
        }


            #close-popup::before {
                content: " ";
                position: absolute;
                display: block;
                background-color: #1b1b1b;
                width: 2px;
                left: 12px;
                top: 5px;
                bottom: 5px;
                transform: rotate(45deg);
            }

            #close-popup::after {
                content: " ";
                position: absolute;
                display: block;
                background-color: #1b1b1b;
                height: 2px;
                top: 12px;
                left: 5px;
                right: 5px;
                transform: rotate(45deg);
            }

    .popup-button {
        display: inline-block;
        border: solid black 3px;
        position: absolute;
        bottom: 5%;
    }
        .popup-button:hover {
            background-color: #00ff90;
            color: black;
        }
    
    #accept-preference {
        right: 5%;
    }

    #restore-default {
        left: 5%;
    }

        
</style>


<script>
    function openPreferences() {
        document.querySelector(".popup").style.visibility = "visible";
    }

    function closePreferences() {
        document.querySelector(".popup").style.visibility = "hidden";
    }

    class ColorObject {
        constructor(showPaperNodes, nodeColor, linkColor, sectionColor, theoremColor) {
            this.showPaperNodes = showPaperNodes;
            this.nodeColor = nodeColor;
            this.linkColor = linkColor;
            this.sectionColor = sectionColor;
            this.theoremColor = theoremColor;
        }
    }

    function acceptPreferences() {
        
        //TODO: read colors and set them
        var showPaperNodes  = document.getElementById("show-papernodes").checked;
        var nodeColor       = document.getElementById("node-color").value;
        var linkColor       = document.getElementById("link-color").value;
        var sectionColor    = document.getElementById("section-color").value;
        var theoremColor = document.getElementById("theorem-color").value;

        var colors = new ColorObject(showPaperNodes, nodeColor, linkColor, sectionColor, theoremColor);
        setColors(colors);
        

        console.log("papernode: " + showPaperNodes);
        console.log("nodecolor: " + nodeColor);
        console.log("linkcolor: " + linkColor);
        console.log("sectioncolor: " + sectionColor);
        console.log("theoremcolor: " + theoremColor);

        document.querySelector(".popup").style.visibility = "hidden";
    }

    function restoreDefault() {
        document.getElementById("show-papernodes").checked = false;
        document.getElementById("node-color").value = "#8C8C8C";
        document.getElementById("link-color").value = "#000000";
        document.getElementById("section-color").value = "#FF2D00";
        document.getElementById("theorem-color").value = "#BE00FF";

    }
</script>
<script src="~/js/fileUpload.js"></script>
<script src="~/js/createGraph.js" asp-append-version="true"></script>


<!--script src="https://d3js.org/d3.v3.min.js"></script-->
<!--script type="module" src="~/js/graph.js" ></script>-->
